@model ICollection<CoachEasy.Web.ViewModels.Coaches.CoachViewModel>
@using CoachEasy.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="container col-12 d-inline-flex">
    @foreach (var coach in Model)
    {
        <div class="card col-4 game-card mt-2">
            <div class="card-body">
                <img src="@coach.PictureUrl"
                     class="card-img-top img-fluid img-coach">
                <ul class="list-group mt-1 border-danger">
                    <li class="list-group-item bg-dark text-colorise">@coach.Name</li>
                    <li class="list-group-item">Experience: @coach.Experience</li>
                    <li class="list-group-item">Phone: @coach.Phone</li>
                    <li class="list-group-item">Email: @coach.Email</li>
                    <li class="list-group-item">Clients: @coach.CoachWorkoutsCount</li>
                    <li class="list-group-item">Description : @coach.Description</li>
                </ul>
            </div>
        </div>
    }
</div>