@model ListOfWorkoutsViewModel
@using CoachEasy.Web.ViewModels.Workouts
@using CoachEasy.Common
@{
    this.ViewData["Title"] = "All Workouts, page " + Model.PageNumber;
}

@if (this.TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success">@this.TempData["SuccessMessage"]</div>
}
@if (this.TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger">@this.TempData["ErrorMessage"]</div>
}
@if (this.TempData.ContainsKey("InvalidMessage"))
{
    <div class="alert alert-danger">@this.TempData["InvalidMessage"]</div>
}
<h5>Note: Please select one position at a time.</h5>
<form method="get" asp-action="All">
    <input type="checkbox" asp-for="PointGuard">
    <label asp-for="PointGuard"></label>

    <input type="checkbox" asp-for="ShootingGuard">
    <label asp-for="ShootingGuard"></label>

    <input type="checkbox" asp-for="SmallForward">
    <label asp-for="SmallForward"></label>

    <input type="checkbox" asp-for="PowerForward">
    <label asp-for="PowerForward"></label>

    <input type="checkbox" asp-for="Center">
    <label asp-for="Center"></label>

    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<div class="row">
    @foreach (var workout in Model.Workouts)
    {
        <div class="card col-4 game-card mt-2">
            @if (!string.IsNullOrEmpty(workout.PictureUrl))
            {
                <img src="@workout.PictureUrl" class="card-img-top img-fluid img-workout">
            }
            else
            {
                <img src="@workout.ImageUrl" class="card-img-top img-fluid img-workout">
            }
            <div class="card-body">
                <h5 class="card-title">@workout.Name</h5>
                <div class="font-weight-bolder text-colorise">
                    Position: @Html.DisplayFor(model => workout.PositionName)
                    @if (User.IsInRole("Client"))
                    {
                        <a asp-controller="Client" asp-action="AddToWorkoutList" asp-route-id="@workout.Id">
                            <i class="fas fa-basketball-ball icon" title="Add to your list"></i>
                        </a>
                    }
                </div><br>
                <p class="card-text">@workout.Description</p>
                @if (workout.AddedByCoach != null)
                {
                    <h4>Added by: @workout.AddedByCoach.Name</h4>
                    @if (this.User.Claims.FirstOrDefault().Value == workout.AddedByCoach.UserId)
                    {
                        <a asp-controller="Workout" asp-action="Delete" asp-route-id="@workout.Id" type="button" class="btn btn-danger">Delete</a>
                        <a asp-controller="Workout" asp-action="Edit" asp-route-id="@workout.Id" type="button" class="btn btn-info">Edit</a>
                    }
                }
                else
                {
                    <h4>Added by: CoachEasy</h4>
                }
            </div>
            <a asp-controller="Workout" asp-action="Watch" asp-route-id="@workout.Id" class="btn btn-primary btn-resize">Watch Workout</a>
        </div>
    }
</div>


<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
            <a class="page-link" asp-controller="Workout" asp-action="All" asp-route-id="@Model.PreviousPageNumber"
               asp-route-pointguard="@Model.PointGuard"
               asp-route-shootingguard="@Model.ShootingGuard"
               asp-route-smallforward="@Model.SmallForward"
               asp-route-powerforward="@Model.PowerForward"
               asp-route-center="@Model.Center">Previous</a>
        </li>
        @for (int i = Model.PageNumber - 4; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Workout" asp-action="All" asp-route-id="@i"
                       asp-route-pointguard="@Model.PointGuard"
                       asp-route-shootingguard="@Model.ShootingGuard"
                       asp-route-smallforward="@Model.SmallForward"
                       asp-route-powerforward="@Model.PowerForward"
                       asp-route-center="@Model.Center">@i</a>
                </li>
            }
        }
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 4; i++)
        {
            if (i <= Model.PagesCount)
            {
                 <li class="page-item">
                    <a class="page-link" asp-controller="Workout" asp-action="All" asp-route-id="@i"
                       asp-route-pointguard="@Model.PointGuard"
                       asp-route-shootingguard="@Model.ShootingGuard"
                       asp-route-smallforward="@Model.SmallForward"
                       asp-route-powerforward="@Model.PowerForward"
                       asp-route-center="@Model.Center">@i</a>
                </li>

            }
        }
        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
            <a class="page-link" asp-controller="Workout" asp-action="All" asp-route-id="@Model.NextPageNumber"
                       asp-route-pointguard="@Model.PointGuard"
                       asp-route-shootingguard="@Model.ShootingGuard"
                       asp-route-smallforward="@Model.SmallForward"
                       asp-route-powerforward="@Model.PowerForward"
                       asp-route-center="@Model.Center">Next</a>
        </li>
    </ul>
</nav>