@model ListOfWorkoutsViewModel
@using CoachEasy.Web.ViewModels.Workouts
@using CoachEasy.Common
@{
    this.ViewData["Title"] = "All Workouts, page " + Model.PageNumber;
}

@if (this.TempData.ContainsKey("SuccessMessage"))
{
    <div class="alert alert-success">@this.TempData["SuccessMessage"]</div>
}
@if (this.TempData.ContainsKey("ErrorMessage"))
{
    <div class="alert alert-danger">@this.TempData["ErrorMessage"]</div>
}
@if (this.TempData.ContainsKey("InvalidMessage"))
{
    <div class="alert alert-danger">@this.TempData["InvalidMessage"]</div>
}

<div class="row">
    @foreach (var workout in Model.Workouts)
    {
        <div class="card col-4 game-card mt-2">
            @if (!string.IsNullOrEmpty(workout.PictureUrl))
            {
                <img src="@workout.PictureUrl" class="card-img-top img-fluid img-workout">
            }
            else
            {
                <img src="@workout.ImageUrl" class="card-img-top img-fluid img-workout">
            }
            <div class="card-body">
                <h5 class="card-title">@workout.Name</h5>
                <div class="font-weight-bolder text-colorise">
                    Position: @Html.DisplayFor(model => workout.PositionName)
                    @if (User.IsInRole("Client"))
                    {
                        <a asp-controller="Client" asp-action="AddToWorkoutList" asp-route-id="@workout.Id">
                            <i class="fas fa-basketball-ball icon" title="Add to your list"></i>
                        </a>
                    }
                </div><br>
                <p class="card-text">@workout.Description</p>
                @if (workout.AddedByCoach != null)
                {
                    <h4>Added by: @workout.AddedByCoach.Name</h4>
                    @if (this.User.Claims.FirstOrDefault().Value == workout.AddedByCoach.UserId)
                    {
                        <a asp-controller="Workout" asp-action="Delete" asp-route-id="@workout.Id" type="button" class="btn btn-danger">Delete</a>
                        <a asp-controller="Workout" asp-action="Edit" asp-route-id="@workout.Id" type="button" class="btn btn-info">Edit</a>
                    }
                }
                else
                {
                    <h4>Added by: CoachEasy</h4>
                }
            </div>
            <a href="#" class="btn btn-primary">Watch Workout</a>
        </div>
    }
</div>


<partial name="_PagingPartial" model="@Model" />