@model ListOfWorkoutsViewModel
@using CoachEasy.Web.ViewModels.Workouts
@using CoachEasy.Common
@{
    this.ViewData["Title"] = "Workouts List, page " + Model.PageNumber;
}

<div class="container col-12">
    @foreach (var workout in Model.Workouts)
    {
        <hr />
        <div class="row">
            @if (!string.IsNullOrEmpty(workout.PictureUrl))
            {
                <img src="@workout.PictureUrl" class="img-workoutlist image-widthsize" alt="Alternate Text" />
            }
            else
            {
                <img src="@workout.ImageUrl" class="img-workoutlist image-widthsize" alt="Alternate Text" />
            }
            <div class="col">
                <h3>@workout.Name</h3>

                <ul class="list-group mr-lg-5 font-weight-bold">
                    <li class="list-group-item orangebackground">Position: @Html.DisplayFor(model => workout.PositionName)</li>
                    <li class="list-group-item">@workout.Description</li>
                    @if (workout.AddedByCoach != null)
                    {
                        <li class="list-group-item">Added by: @workout.AddedByCoach.Name</li>

                    }
                    else
                    {
                        <li class="list-group-item">Added by: CoachEasy</li>
                    }
                    <li class="list-group-item">
                        <div>
                            <a asp-controller="Workout" asp-action="Watch" asp-route-id="@workout.Id" class="btn orangebackground font-weight-bold">Watch Workout</a>
                            <a asp-controller="Client" asp-action="Delete" asp-route-id="@workout.Id" type="button" class="btn btn-danger">Delete</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <hr />
    }
</div>

<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @if (!Model.HasPreviousPage) { <text>disabled</text> }">
            <a class="page-link" asp-action="WorkoutsList" asp-route-id="@Model.PreviousPageNumber">Previous</a>
        </li>
        @for (int i = Model.PageNumber - 4; i < Model.PageNumber; i++)
        {
            if (i > 0)
            {
                <li class="page-item"><a class="page-link" asp-action="WorkoutsList " asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                @Model.PageNumber
                <span class="sr-only">(current)</span>
            </span>
        </li>
        @for (int i = Model.PageNumber + 1; i <= Model.PageNumber + 4; i++)
        {
            if (i <= Model.PagesCount)
            {
                <li class="page-item"><a class="page-link" asp-action="WorkoutsList" asp-route-id="@i">@i</a></li>
            }
        }
        <li class="page-item @if (!Model.HasNextPage) { <text>disabled</text> }">
            <a class="page-link" asp-action="WorkoutsList" asp-route-id="@Model.NextPageNumber">Next</a>
        </li>
    </ul>
</nav>
