@using CoachEasy.Common
@{
    this.ViewData["Title"] = "Home Page";
}
@using CoachEasy.Data.Models.Enums
@model ICollection<CoachEasy.Web.Controllers.PlayerViewModel>

<div class="text-center">
    <h1 class="display-3">COACH EASY</h1>
    <div>
        <span class="display-4 text-break text-">
            Choose your role
        </span>
    </div>
    <div class="h-100 d-inline-flex justify-content-center">
        @foreach (var player in Model)
        {
            <div class="card col-6 col-lg-3 game-card" style="margin-top: 20px; margin-right: 4px; margin-left: 4px;">
                <img src="@player.ImageUrl"
                     class="card-img-top img-fluid card-image">
                <div class="card-body">
                    <h5 class="card-title text-center" data-toggle="tooltip" data-placement="bottom"
                        title="Description:<br>Description">
                    </h5>
                    <h2>@player.Name</h2>
                    <ul class="list-group list-group-flush  ">
                        <h5>Position:</h5>
                        <li class="list-group-item text-center" style="margin-top:-10px;">@Html.DisplayFor(model => player.PositionName)</li>
                        <li class="list-group-item">
                            TeamName:
                            <span class="attack-stat">@player.TeamName</span><br>
                            Experience:
                            <span class="health-stat">@player.Experience</span><br>
                            Championships:
                            <span class="health-stat">@player.Championships</span>
                            Height:
                            <span class="health-stat">@player.Height</span><br>
                            Weight:
                            <span class="health-stat">@player.Weight</span>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>