@using CoachEasy.Common
@{
    this.ViewData["Title"] = "Home Page";
}
@using CoachEasy.Data.Models.Enums
@model ICollection<CoachEasy.Web.ViewModels.Players.PlayerViewModel>
    
<div class="text-center">
    <h1 class="display-3">COACH EASY</h1>
    <div>
        <span class="display-4 text-break text-">
            Choose your role
        </span>
    </div>
    <div class="d-inline-flex container justify-content-center">
        @foreach (var player in Model)
        {
            <div class="card col-6 col-lg-3 image-resizer">
                <img src="@player.ImageUrl"
                     class="card-img-top img-fluid card-image">
                <div class="card-body">
                    <h2 class="">@player.Name</h2>
                    <h5>Position:</h5>
                    <a asp-controller="Position" asp-action="Position" asp-route-id="@player.Id" class="btn btn-outline-warning" role="button">@Html.DisplayFor(model => player.PositionName)</a>
                    <ul class="list-group mt-1 border-danger">
                        <li class="list-group-item">Team Name:<br> @player.TeamName</li>
                        <li class="list-group-item">Experience: @player.Experience</li>
                        <li class="list-group-item">Championships: @player.Championships</li>
                        <li class="list-group-item">Height: @player.Height</li>
                        <li class="list-group-item">Weight: @player.Weight</li>
                    </ul>
                </div>
            </div>
        }
    </div>
</div>