@model PositionViewModel
@using CoachEasy.Data.Models.Enums
@using CoachEasy.Common
@{
    this.ViewData["Title"] = "Point Guard";
}


<div style="display: inline-flex">
    <div class="p-2">@Model.Description</div>
    <div class="p-2">
        <img src="@Model.PlayerImageUrl" style="max-height: 250px; margin-bottom:-8px;">
    </div>
    <div class="p-2">@Model.Playstyle</div>
</div>
<hr />

<div class="card-deck">
    @foreach (var item in Model.Workouts.Where(x => x.PictureId == null))
    {
        <div class="card col-3 col-lg-6 game-card">
            <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <p class="card-text">@item.Description</p>
            </div>
            <a href="#" class="btn btn-primary">Watch Workout</a>
        </div>
    }
</div>

@foreach (var workout in Model.Workouts.Where(x => x.PictureId == null))
{
<iframe width="956" height="538" src="@workout.VideoUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
}